@model List<Cv>

@{
    ViewData["Title"] = "CV Lista";
}


<div class="container mt-4">

  
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-controller="Account" asp-action="Logout">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="alert alert-info">
                        Du är inloggad som <strong>@User.Identity.Name</strong>
                    </div>
                    <input type="submit" value="Logga ut" class="btn btn-danger" />
                }
            </form>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Index" method="get" class="mb-4">
                <div class="form-group">
                    <label for="id">Filtrera baserat på AnvandareID:</label>
                    <input type="text" name="id" id="id" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Filtrera!</button>
            </form>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4"> CV-lista</h2>

            <div class="row">
                @foreach (var cv in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">CV-ID: @cv.Id</h5>
                                <p class="card-text"><strong>Kompetenser:</strong> @cv.Kompetenser</p>
                                <p class="card-text"><strong>Utbildning:</strong> @cv.Utbildning</p>
                                <p class="card-text"><strong>Erfarenheter:</strong> @cv.Erfarenheter</p>
                                <p class="card-text"><strong>Användar-ID:</strong> @cv.AnvandareID</p>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-controller="Cv" asp-action="Remove" asp-route-id="@cv.Id" class="btn btn-danger btn-sm">Radera</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

          
           @*  <div class="text-left">
                <a asp-controller="Cv" asp-action="Add" class="btn btn-success">Lägg till nytt CV</a>
            </div> *@
        </div>
    </div>

   
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-12 text-left mt-4">
                <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Logga in</a>
            </div>
        </div>
    }

</div>
